@import '~bootstrap/scss/bootstrap';



.progetti {
    background-color: rgb(243, 243, 243);
}

.flex-project {
    margin-top: 35px;
    border: solid 0.1cm rgba(163, 39, 163, 0.1);
    border-radius: 10px;

}