@import '~bootstrap/scss/bootstrap';



// .progetti {
//     background-color: rgb(243, 243, 243);
// }

.flex-project {
    margin-top: 35px;
    border: solid 0.1cm rgba(163, 39, 163, 0.1);
    border-radius: 10px;

}









$left-color: #242e4d;
$right-color: #897e79;
$green-dark: #35c3c1;
$green-light: #00d6b7;
$gray: #8f8f8f;
$gray-light: #f5f6f8;



html,
body {
    height: 100%;
}

body {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
    position: relative;

    background: linear-gradient(135deg,
            rgba($left-color, .9),
            rgba($right-color, .9));
    font-family: 'Roboto', helvetica, arial, sans-serif;
    font-size: 1.5em;


}



.login-form {
    width: 30%;
    margin: 0 auto;
    padding: 2em;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(black, .15);

}


.create-form {
    width: 70%;
    margin: 30px auto;

    padding: 2em;
    // position: absolute;

    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    background: rgba(black, .15);
}


@media (max-width: 812px) {


    .login-form {
        width: 90%;


    }



    .create-form {
        width: 90%;
        margin: 30px auto;

    }
}

.flex-row {
    display: flex;
    margin-bottom: 1em;

}

.lf--label {
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;

    background: $gray-light;
    cursor: pointer;
}

.lf--input {
    flex: 1;
    padding: 1em;
    border: 0;
    color: $gray;
    font-size: 1rem;

    &:focus {
        outline: none;
        transition: transform .15s ease;
        transform: scale(1.1);
    }
}

.lf--submit {
    display: block;
    padding: 1em;
    width: 100%;

    background: linear-gradient(to right,
            $green-dark,
            $green-light );
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: .75em;
    font-weight: 600;
    text-shadow: 0 1px 0 rgba(black, .2);

    &:focus {
        outline: none;
        transition: transform .15s ease;
        transform: scale(1.1);
    }
}

.lf--forgot {
    margin-top: 1em;
    color: $green-light;
    font-size: .65em;
    text-align: center;
    position: relative;
}

::placeholder {
    color: $gray;
}